<body>

<section class="faq">
   <!-- categories -->


	<div class="faq-items">
		<ul class="faq-group">
			<li>
				<a class="trigger" href="#0"><h3><%= question.question %></h3></a>
				<div class="faq-content">
					<p><h3><%= question.answer %></h3></p>
				</div> <!-- faq-content -->
			</li>
    </ul>
  </div>


</section> <!-- faq -->

</body>
