<%= question.question %>
<!-- <body>

<section class="faq">
	<div class="faq-items">
		<ul class="faq-group">
			<li>
				<a class="trigger" href="#0"><h3><%= question.question %></h3></a>
				<div class="faq-content">
					<p><h3><%= question.answer %></h3></p>
				</div>
			</li>
    </ul>
  </div>


</section>

</body> -->
