<header>
  <h1>Add a new question to the <%= @question.category.name %> category</h1>
</header>


<%= render "form" %>

<h3 class="button"><%= link_to 'Back', category_path(@category.id) %></h3>
<h3 class="button"><%= link_to 'Home', root_path %></h3>
