$color: #4EB1BA;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}


.button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 20px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color;
    color: #fff;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}


@import "compass/css3";

           $li: 9; /* [1] */
    $icon-size: 250px; /* [2] */
    $menu-size: 400px / 2; /* [3] */
    $unit-size: 150px;  /* [4] */
$menu-position: (($menu-size * 2) - $icon-size) / -2;
       $offset: 200px; /* [5] */
          $deg: 360deg / $li; /* [6] */

/* Styles: */
.icon {
  position: relative;
	background: #E9E9E9;
	cursor: pointer;
	margin: auto;
	color: #4EB1BA;
	border-radius: 50%;
  height: $icon-size;
	width: $icon-size;
	line-height: $icon-size;
  text-align: center;
 	font-size: 2.75em;
 	font-weight: bold;
 	transition: 0.24s 0.2s;
  margin-bottom: 200px;
}

.icon:hover {
	background: rgba(#E9E9E9,0.75);
}

.menu {
  position: absolute;
  top: $menu-position;
  left: $menu-position;
  border: $menu-size solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
	transition: transform 1.4s 0.07s;
	z-index: -5;
  margin-bottom: 150px;
}

.spread {
	position: absolute;
	top: -($offset);
	left: -($offset);
	transform-origin: $offset $offset;
	transition: all 0.5s 0.1s;
  margin-bottom: 150px;
}

.icon:hover {
	 .menu {
		 transition: transform 0.4s 0.08s,
				  				        z-index   0s  0.5s;
  	 transform: scale(1);
  	 z-index: 5;
     margin-bottom: 150px;
	 }
	 .spread, .unit {
	 	 transition: all 0.6s;
     margin-bottom: 150px;
	 }

/* Where all the MAGIC happens: */
	 @for $m from 1 through $li {
	   .spread:nth-child(#{$m}) {
		    transition-delay: $m * 0.02s;
		    transform: rotate(45 + $deg * $m);
		    .unit {
			     transition-delay: $m * 0.04s;
			     transform: rotate(-$deg * $m + 720 - 45);
		    }
	   }
  }
} /* END .icon:hover */

.unit {
 	position: absolute;
 	background: #E9E9E9;
 	font-size: 60%;
  text-decoration: none;
 	width: $unit-size;
 	height: $unit-size;
 	line-height: $unit-size;
 	color: #4EB1BA;
 	border-radius: 50%;
 	transition: 0.6s;
}




/* Just CodePen layout stuff: */ body,a,ul,li{margin:5;outline:0;padding:0;list-style:none}html,body{height:100%;min-height:$menu-size*2}body{font-family:sans-serif;
background:radial-gradient(#323c46, #222930);transform:translate3d(0,0,0)}.icon{top:50%;margin-top:$icon-size/-2;bottom:50%;margin-top:$icon-size/-2}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200);
.color {
  text-align:center;
	position:relative;
  padding-bottom: 30px;
  color: #CC4331;
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
}
.box h2{
  text-align:center;
	position:relative;
  padding-top: 30px;
  padding-left: 10px;
  padding-right:10px;
  font-family: "Exo 2", sans-serif;


}
.box {
	width:70%;
	height:auto;
	background:#FFF;
	margin:30px auto;
}

.wrapper {
  position: relative;
  display:block;
  margin: auto;
  text-shadow: center;
  float: center;
  padding: 20px;

}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

$font_size: 22px;
$width: 124px;
$height: 44px;
$bg: #CC4331;
$bg_hover: lighten($bg, 5%);
$txt_color: white;
$bg_shadow: rgba(0,0,0,0.4);

@mixin middle($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: $height;
  margin-top: (-$height)/1;
  margin-left: (-$width)/2;
}

html {
  width: 100%;
  height: 100%;
}

.startbutton {
  margin: 20px;
  display: block;
  font-size: $font_size;
  text-align: center;
  line-height: $height;
  text-decoration: none;
  color: $txt_color;
  background-color: $bg;
  border-radius: 4px;
  border-style: none;
  @include middle($width, $height);
  @include text-shadow(0 -1px -1px darken($bg, 7%));
  @include box-shadow(
    0 4px 0 darken($bg, 7%),
    0 5px 5px 1px $bg_shadow);
  @include transition(all .15s ease-in-out);

  &:hover{
    background-color: $bg_hover;
    @include text-shadow(0 -1px -1px darken($bg_hover, 7%));
    @include box-shadow(
      0 4px 0 darken($bg_hover, 7%),
      0 5px 5px 1px $bg_shadow);
  }
  &:active {
    margin-top: (-$height)/1 + 4;
    @include box-shadow(none);
  }
}

// colors
$red: #f55e5e;
$green: #57e38f;
$whiteish: #fbfbfb;



#container {
  width: 800px;
  margin: auto;
  text-align: center;
}


#error, #success {
  width: 800px;
  height: 80px;
  margin: 0 20px;
  padding: 30px;
  display: inline-block;
  vertical-align: top;

  border-radius: 5px;
  color: $whiteish;

  h3 {
    font-size: 30px;;
    margin-bottom: 10px;
  }
}

#success {
  background-color: #4EB1BA;

  h3 {
    color: darken($green, 30);
    text-shadow: 0 0 2px lighten($green, 30);
  }
}
