<%= form_for @category do |f| %>

    <div class="form-group">
       <%= f.label :name %>
       <%= f.text_field :name, class: "form-control", placeholder: "Subject... " %>
    </div>

    <%= f.submit  %>

<% end %>
