<header>
	<h1>The Interview</h1>
</header>
<div class="wrapper">
	<div class="button"><%= link_to 'Add subject', new_category_path %></div>
</div>

<div class="icon">SUBJECTS
	  <ul class="menu">

	<%= render @categories %>

	</ul>
	</div>
</div>
