<header>
  <h1>Add a new category to the list</h1>
</header>

<% if !user_signed_in? %>
  <script type="text/javascript">
    window.location.href="/users/sign_in"
  </script>

  <%= flash[:notice] = "Please sign in to use this option." %>

<% else %>
     <%= render "form" %>
<% end %>


<h3 class="button"><%= link_to 'Home', root_path %></h3>
